
<!-- Easter egg -->
<script type="text/javascript">
	console.log('I can do that, cause I will do that.');
</script>

<!-- toc -->
{% if page.path contains '_posts' or (page.url == "/") %}
<script type="text/javascript">
	$(function() {
		var tocNav = '#toc';
		var tocScope = '.toc-scope';
		
		Toc.init({
			$nav: $(tocNav),
			$scope: $(tocScope),
		});
		
		$('body').scrollspy({
			target: tocNav
		});


		$('#toc').before('<div class="p-3" id="toc-nav-tip"><h4 class="font-italic">Nav</h4></div>');
		if ($(tocNav).has( "li" ).length) {
		}else{
			$('#toc-nav-tip').hide();
		}

	});
 
</script>
{% endif %}




<!-- tag-cloud -->
{% if page.name == 'tags.md' %}
	<script src="{{site.baseurl}}/dist/jquery.tagcloud.js" type="text/javascript" charset="utf-8"></script> 
	<script language="javascript">
		$.fn.tagcloud.defaults = {
			size: {start: 14, end: 26, unit: 'pt'},
			color: {start: '#ffc107', end: '#dc3545'}
		};

		$(function () {
			$('#tag_cloud a').tagcloud();
		});
	</script>
{% endif %}



<!-- back-to-top -->
<a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">^</a>

<script type="text/javascript">
	$(document).ready(function(){
		$(window).scroll(function () {
			if ($(this).scrollTop() > 100) {
				$('#back-to-top').fadeIn();

			} else {
				$('#back-to-top').fadeOut();
			}
		});
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
        	$('#back-to-top').tooltip('hide');
        	$('body,html').animate({
        		scrollTop: 0
        	}, 300);
        	return false;
        });
        
        $('#back-to-top').tooltip();

    });
</script>


<!-- anchor smooth -->
<script type="text/javascript">
	$(document).on('click', 'a[href^="#"]', function (event) {
		event.preventDefault();

		$('html, body').animate({
			scrollTop: $($.attr(this, 'href')).offset().top
		}, 300);
	});
</script>




<!-- loader -->
<script language="javascript" type="text/javascript">
	$(window).on('load', function(){
		$('#loading').hide();
	});
</script>

<!-- footer this-year -->
<script language="javascript" type="text/javascript">
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>




