<div class="entry page">

	<div class="entry-content">

	  <header>
	    <p class="entry-meta">
		    {{ page.date | date: "%b %-d, %Y" }}
		    {% if page.category %} • Category: {{ page.category|capitalize }}{% endif %}
	    </p>
	  </header>

	  <article class="entry-body">
	  	{% if content %}
	  		{{ content }}
  		{% else %}
	  		{{ page.excerpt }}
	  		{% if page.content contains '<!-- more -->' %}
	  		<p><a href="{{ page.url }}">Read more »</a></p>
	  		{% endif %}
  		{% endif %}
	  </article>
	<a class="btn btn-primary btn-lg" href="{{ site.repo_url }}/edit/{{ site.branch }}/{{ page.path }}" title="Help improve article {{ page.path }}">Edit</a>
  </div>

</div>

{% if page.comments %} 
	{% include disqus.html %}
{% endif %}


